/* line 3, ../sass/main.scss */
.container {
  position: relative;
  z-index: 2;
}

/* line 8, ../sass/main.scss */
.content {
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
}

/* line 13, ../sass/main.scss */
.hero-unit, .content {
  background-color: rgba(43, 43, 64, 0.8);
}

/* line 17, ../sass/main.scss */
#sleepTimeContainer {
  margin-top: 40px;
}

/* line 21, ../sass/main.scss */
.calculateBtn {
  display: inline;
  margin-bottom: 5px;
}

/* line 26, ../sass/main.scss */
h3 {
  margin-bottom: 20px;
}
