/* line 3, ../sass/starryNight.scss */
body {
  overflow: hidden;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #094d81), color-stop(70%, #3a91d5)), #094d81;
  background: -webkit-linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81;
  background: -moz-linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81;
  background: -o-linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81;
  background: -ms-linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81;
  background: linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF094D81', endColorstr='#FF3A91D5');
  /* IE6-9 */
  color: white;
}

/* line 11, ../sass/starryNight.scss */
canvas {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
