@import 'compass';

body {
  overflow: hidden;
  @include background(linear-gradient(top, #094d81 0%, #3a91d5 70%), #094d81);
  @include filter-gradient(#094d81, #3a91d5); /* IE6-9 */

  color: white;
}

canvas{
  position:absolute;
  z-index:1;
  left:0;
  top:0;
}